[submodule "mc_firmware_common"]
	path = mc_firmware_common
	url = git@github.com:X-Lemon-X/mc_firmware_common.git
[submodule "mc_drivers_common"]
	path = mc_drivers_common
	url = git@github.com:X-Lemon-X/mc_drivers_common.git
[submodule "moducard_generators"]
	path = moducard_generators
	url = git@github.com:X-Lemon-X/moducard_generators.git
